body.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.card .card-content {
    padding: 40px;
}

img.responsive-img{
    max-width: 250px;
    max-height: 250px;
}


.card {
    width: 100%;
    max-width: 420px;
    border-radius: 10px;
}


.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}


.btn-google-container {
    margin-top: 15px;
}

.register {
    margin-top: 25px;
}

