
body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
}


.register-card {
    width: 100%;
    max-width: 550px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 auto !important;
}

.register-card .card-content {
    padding: 24px !important;
}

.register-card .input-field {
    margin-bottom: 8px;
    margin-top: 8px;
}

.register-card .title {
    color: #4F4F4FDE;
    font-weight: 500;
    margin-top: 10px;
}


.btn-custom {
    background-color: #66bb6a !important;
    border-radius: 8px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.btn-custom:hover {
    background-color: #57a05a !important;
}

.btn-custom:active {
    transform: translateY(2px) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) !important;
}

.center-align img {
    max-width: 230px;
    height: auto;
    display: block;
    margin: 0 auto;
}

label input[type="checkbox"] + span {
    margin-left: 5px;
}


.nav-roles {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -10px !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid #e0e0e0;
}

.col-pestana {
    padding: 8px 0 !important;
}

.link-pestana {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.pestana-activa {
    border-bottom: 3px solid #66bb6a;
}

